body {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
}

.resultGroup, button  {
    padding: 3%;
    display: flex;
    font-weight: bold;
    font-size: larger;
    justify-content: center;
}

.scoreGroup {
    display: flex;
    justify-content: space-around;
    font-size: 100px;
}

.selectionGroup {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #bdbdbd;
}

button:active {
    background-color: #8a8a8a;
}